body {
  background: #0a1116;
}

.color-primary {
  background-color: #2a2a2a !important;
  color: white !important;
}

.no-shadows {
  box-shadow: none !important;
}

.player-container {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

#play {
  padding-right: 20px;
}

.range-field {
  width: 640px;
}

.time-display {
  margin-left: 580px;
  color: #515151;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 510%;
  background: #141414;
  border: 2px solid #515151;
  margin-top: -5px;
  cursor: pointer
}
input[type=range]::-ms-fill-lower {
  background: #141414 !important;
  background-color: : #141414 !important;
}

input[type=range] {
  border: 2px #515151 !important;
  background: transparent;
  border-top-color: #515151 !important;
  border-right-color: #515151 !important;
  border-bottom-color: #515151 !important;
  border-left-color: #515151 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: transparent !important;
}

input[type=range]::-moz-range-track {
  background: #515151 !important;
}

input[type=range]::-ms-fill-upper {
  background: #515151 !important;
}

input[type=range]+.thumb {
  background-color: #141414 !important;
}

.load {
  background: #010203 !important;
  color: #515151;
}

#scrub {
  background-color: #515151 !important;
}

input, select, textarea{
    color: #515151;
}
/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #9e9e9e !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: 0 1px 0 0 #9e9e9e !important;
  }
